.skills {
  padding: 80px 20px;
  text-align: center;
   margin-top: -300px;
}

.contacts-content {
  max-width: 600px;
  margin: 0 auto;
}

.contacts-title {
  font-size: 2.5rem;
  color: #0077b6;
  margin-bottom: 20px;
}

.contacts-text {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 40px;
}

.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.tech-icon {
  font-size: 3.5rem;
  color: #0077b6;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.tech-icon:hover {
  transform: scale(1.1);
}

.tech-name {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 768px) {
.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
    padding: 80px 20px;
  min-height: 75vh;
  margin-top: -100px;
  position: relative;
}
  
  .tech-item {
    width: 100px;
  }
  
  .tech-icon {
    font-size: 2.8rem;
  }
}
@media (max-width: 991px) {
  .skills {
    overflow-y: auto;
  }
  .skills {
  padding: 80px 20px;
  min-height: 75vh;
  margin-top: -100px;
  position: relative;
}
}